body {
  overflow-x: hidden;
}

/* Header Styling */
.header-container {
  padding: 10px 0px;
  background-color: #004175;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container .left-side span {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px;
  color: #ffffff;
  cursor: pointer;
}

.header-container .right-side > a {
  padding-right: 20px;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
}

.right-side .bi-facebook:hover {
  color: blue;
}

.right-side .bi-whatsapp:hover {
  color: #25d366;
}

.right-side .bi-instagram:hover {
  color: purple;
}
/* Header Media Query */
@media screen and (max-width: 380px) {
  .header-container .left-side span {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .header-container .right-side > i {
    padding: 10px 10px;
  }
}

/* _________________Header Styling End____________________ */

/* Navbar Styling */
nav {
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  margin-left: 125px;
}

.navbar-nav {
  margin-right: 125px;
}

.nav-item a {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #004175;
}

.nav-item a:hover {
  color: #d71a21;
}

.navbar-nav button {
  outline: none;
  border: none;
  background-color: #004175;
  color: #ffffff;
  font-family: "Arial, Helvetica, sans-serif";
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 0;
}

.navbar-nav button:hover {
  background-color: #d71a21;
  color: #ffffff;
}

.navbar-toggler {
  border: none;
  font-size: 30px;
}

.navbar-toggler:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
/* Navbar Media Query */
@media screen and (max-width: 767px) {
  .navbar-brand {
    margin-left: 0px;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-left: 0px;
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .navbar-logo,
  .navbar-toggler {
    z-index: 2000;
  }
}

@media screen and (min-width: 768px) and (max-width: 975px) {
  .navbar-brand {
    margin-left: 10px;
  }

  .navbar-nav {
    margin-right: 10px;
  }
}

/* _________________Navbar Styling End____________________ */

/* Slider Styling */

@media screen and (max-width: 767px) {
  .carousel-item > img {
    height: 300px;
  }
}

/* __________Slider Styling End____________ */

/* Feature Card Styling */

.feature-card .card {
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  border-radius: 0px;
  position: relative;
  bottom: 60px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.feature-card .card:hover {
  transform: translateY(-10px);
}
.feature-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.feature-card .card-body > h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #004175;
}

.feature-card .card-body > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
}

/* Feature Card Media Query */

@media screen and (max-width: 767px) {
  .feature-card .card {
    position: static;
    margin-top: 20px;
  }
}

/* _________________Feature Card Styling End____________________ */

/* Business-Setup Component Styling */

.business-setup-section .container .row > h1 {
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #294797;
  text-align: center;
  margin-top: 20px;
}

.business-setup-section .container .row > p {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
}

.business-setup-section .card {
  margin-top: 40px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.business-setup-section .card:hover {
  transform: translateY(-50px);
}

.business-setup-section .card .card-title {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 24px;
  color: black;
  /* font-weight: bold; */
}

.business-setup-section .card .card-title:hover {
  color: #004175;
}
.business-setup-section .card .card-text {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 16px;
  color: #111d29;
}

.business-setup-section .card a {
  border-radius: 0px;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: black;
  border-bottom: 1px solid black;
  margin-left: 80px;
}

/* About Section Styling */
.about-section {
  margin-top: 100px;
}
.about-section .row > h6 {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 20px;
  color: purple;
}

.about-section .about-text h1 {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 40px;
  color: #004175;
  margin-top: 10px;
}

.about-section .about-text p {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 16px;
  color: #111d29;
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .about-section,
  h1,
  h6,
  p {
    text-align: center;
  }
}

/* _________________About Section Styling End____________________ */

/* Service Card Section */

.service-card-section {
  margin-top: 120px;
}

.service-card-section .service-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-card-section .service-section-text > h6 {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 20px;
  color: purple;
}

.service-card-section .service-section-text > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
  color: #004175;
}

.service-card-section .service-section-text > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #111d29;
  width: 50%;
  line-height: 30px;
}

.service-card-section .row {
  display: flex;
  flex-wrap: wrap;
}

.service-card-section .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  border-radius: 0px;
  transition: transform 0.3s ease;
  cursor: pointer;
  padding: 10px;
}

.service-card-section .card:hover {
  transform: translateY(-10px);
}

.service-card-section .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

.service-card-section .card-body .card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #004175;
  font-weight: bold;
}

.service-card-section .card-body .card-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #111d29;
}

@media screen and (max-width: 500px) {
  .service-card-section .service-section-text > p {
    width: 100%;
  }
}

/* Entities Card Styling */

.entities-card-container .row > h1 {
  color: purple;
  font-size: 20px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}
.slick-list {
  overflow: hidden;
}

.entities-card-container .card {
  border: none;
  width: 180px;
  height: 100px;
  margin-top: 20px;
  background-color: #004175;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.entities-card-container .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-dots {
  bottom: auto;
}

/* Entities Card Media Query */
@media screen and (max-width: 1024px) {
  .entities-card-container .card {
    margin-left: auto;
    margin-right: auto;
  }
}

/* _________________Entities Card Styling End____________________ */

/* Visa Service Page Styling */

.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-section {
  display: flex;
  flex-direction: row;
}

.sub-main-sec {
  width: 60%;
  margin-top: 50px;
}

.sub-main-sec2 {
  width: 40%;
  margin: 50px;
  padding: 20px;
  border: 1px solid #eb802e17;
  border-radius: 50px 10px 50px 0px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #29479729 0%, #eb802e17 100%);
}

input {
  line-height: 40px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

textarea {
  line-height: 40px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

form > button {
  margin-top: 50px;
  color: white;
  background-color: #004175;
  width: 100%;

  font-weight: bold;
  border: white;
  padding: 10px;
  font-size: large;
}

.child {
  display: flex;
  justify-content: space-between;
  border: 1px solid #004175;
  border-radius: 0px 0px 50px 0px;
  padding: 2px;
  box-shadow: 2px 4px 5px #7a8dc1;
  padding: 10px;
  color: white;
  background-color: #004175;
  margin-top: 80px;
}
.child > h3 {
  color: white;
  margin: 0;
  padding: 0;
}

.child > p {
  margin: 30px;
}

.child > button {
  height: 30%;
  margin-top: 30px;
  width: 20%;
  background-color: #fff;
  color: #004175;
}
.button-color {
  background-color: #004175;
  width: 100%;
  color: #004175;
  font-weight: bold;
  border: white;
  padding: 10px;
  font-size: large;
}

.input-border {
  border-color: black;
}

@media screen and (max-width: 768px) {
  .main-section {
    display: flex;
    flex-direction: column;
  }
  .sub-main-sec {
    width: 100%;
    margin-top: 20px;
  }

  .sub-main-sec2 {
    width: 100%;
    margin: 20px;
    padding: 10px;
  }
  .child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .child > p {
    margin-top: 10px;
  }

  .child > button {
    width: 40%;
    margin: 40px;
  }

  form > button {
    width: 80%;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-color-2 {
  background-color: #004175;
  color: white;
  font-weight: bold;
  border: #004175;
  padding: 10px 20px;
  font-size: large;
  margin-left: 40px;
}

.flex {
  display: "flex";
  flex-direction: row;
  border: 1px solid black;
  width: 70%;
}

.head-color {
  color: #294797;
}

.section-2-main {
  background-color: #f3f3f3;
}

.section-2-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-2-cards > div {
  padding: 40px 20px;
  border: 1px solid #004175;
  margin: 10px;
  font-weight: bold;

  width: 20%;
}
.section-2-cards > div:hover {
  box-shadow: 2px 2px #004175;
  border-radius: 5px;
  padding: 40px 30px;
}

.section-2-top {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-2-topdetail {
  font-size: large;
}

.section-2-text {
  text-align: justify;
}

.section-4,
.section-6,
.section-8 {
  background-color: #004175;
  color: white;
  text-align: justify;
  line-height: 30px;
  padding: 20px;
  font-size: large;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-3,
.section-5,
.section-7,
.section-9 {
  color: black;
  text-align: justify;
  line-height: 30px;
  padding: 20px;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-3,
.section-5,
.section-7,
.section-9 > h3 {
  text-align: center;
}

.empty {
  width: 200px;
  height: 2px;
  color: #004175;
  background-color: #004175;
  text-align: center;
  margin-bottom: 5px;
}

.empty-white {
  width: 200px;
  height: 2px;
  background: white;
  color: white;

  text-align: center;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .section-2-cards > div {
    padding: 20px 10px;
    border: 1px solid #004175;
    margin: 10px;
    font-weight: bold;
    height: 30%;
    width: 80%;
  }
}

/* ____________Visa Page Styling End_____________________________ */

/* PRO SERVICES CSS */

/* PRO BANNER CSS */

.probanner .probannerimg > img {
  width: 100%;
}

/* PRO INTRO CSS */
.pro-intro h1 {
  font-family: "Arial", Helvetica, sans-serif;
  color: #294797;
  font-size: 27px;
  font-weight: bold;
}

.pro-intro p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
  line-height: 25px;
}

/* ___________________PRO INTRO CSS END_______________________ */

/* PRO OVERVIEW CSS */

.pro-overview-section {
  margin-top: 120px;
}
.pro-overview-section h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: black;
  text-align: center;
}

.pro-overview-section p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #111d29;
  margin-top: 10px;
}
.pro-overview-section .card {
  height: 100%;
  outline: none;
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);

  border-radius: 0px;

  cursor: pointer;
}
.pro-overview-section .card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #294797;
}

.pro-overview-section .card-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #111d29;
}

/* _______PRO OVERVIEW CSS END______________ */

/* PRO DOCUMENTS CSS */

.pro-documents-section {
  background-color: #004175;
  padding-bottom: 40px;
}
.pro-documents-section h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #ffffff;
  border-bottom: 1px solid white;
}

.pro-documents-section p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 16px;
  margin-top: 20px;
}

.pro-documents-section li {
  color: #ffffff;
  font-size: 18px;
  list-style: none;
  text-align: center;
  padding: 5px 0px;
}

/* PRO BENEFITS CSS */

.pro-benefits-section .row > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #294797;
  text-align: center;
}

.pro-benefits-section .row > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #111d29;
  text-align: center;
}

.pro-benefits-text {
  margin-top: 20px;
}
.pro-benefits-section .pro-benefits-text h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: purple;
}

.pro-benefits-section .pro-benefits-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
}

@media screen and (max-width: 990px) {
  .pro-benefits-section .pro-benefits-text {
    text-align: center;
  }
}

/* BEST PROSERVICE CSS */

.best-pro-service {
  background-color: #004175;
}

.best-pro-service h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #ffffff;
  border-bottom: 1px solid white;
}

.best-pro-service p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

/* Al Fattah Help CSS */

.al-fattah-help .row > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #294797;
}

.al-fattah-help .row > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #111d29;
}

/* Translation Service Page CSS */

.translation-intro-section {
  margin-top: 80px;
}

.translation-intro-section h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #294797;
}

.translation-intro-section p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #111d29;
}

.translation-cards-section {
  margin-top: 80px;
}
.translation-cards-section h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #294797;
  text-align: center;
}

.translation-cards-section img {
  width: 81px;
  margin-top: 10px;
}

.translation-cards-section .card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 80%;
  border: none;
  text-align: center;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  cursor: pointer;
}

.translation-cards-section span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  padding: 20px;
  font-weight: bold;
}

/* Legal Translation CSS */

.legal-translation-section {
  background-color: #004175;
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.legal-translation-section h1 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

.legal-translation-section p {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  .legal-translation-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Business Setup Section CSS */

.business-setup-intro-section {
  margin-top: 80px;
}

.business-setup-intro-section h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #294797;
}

.business-setup-intro-section p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #111d29;
}

.business-setup-intro-section img {
  height: 100%;
}

.business-setup-mainland-section {
  margin-top: 80px;
  background-color: #004175;
  padding-top: 40px;
  padding-bottom: 40px;
}

.business-setup-mainland-section h1 {
  display: inline-block;
  border-bottom: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #ffffff;
  padding-bottom: 10px;
}

.business-setup-mainland-section p {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.business-setup-freezone-section {
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.business-setup-freezone-section h1 {
  display: inline-block;
  border-bottom: 1px solid #294797;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #294797;
  padding-bottom: 10px;
}

.business-setup-freezone-section p {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #111d29;
}

.al-fattah-why {
  background-color: #004175;
  padding-top: 20px;
  padding-bottom: 20px;
}

.al-fattah-why h1 {
  display: inline-block;
  border-bottom: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #ffffff;
  padding-bottom: 10px;
}

.al-fattah-why p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  margin-top: 10px;
}
/* Footer CSS Start */

.footer {
  background-color: #004175;
  margin-top: 80px;
}

.footer .container .row .col-md-4 > h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.footer li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
}

.footer .links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
}

@media screen and (max-width: 575px) {
  .footer .container .row .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer h5 {
    margin-top: 10px;
  }
}
